.privacy-policy {
    padding: 20px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .privacy-policy h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .privacy-policy p {
    font-size: 1rem;
    line-height: 1.6;
  }